<div class="main-content">
    <ng-container *ngFor="let news of newsItems">
        <div class="container bg-light border" id="content" *ngIf="contains(news)">
            <div class="row text-center justify-content-md-start justify-content-center">
                <img class="col-md-3" src="{{ news.urlToImage }}">
                <div class="right-panel align-self-stretch col-md-9 text-md-left text-center">
                    <h1 class="display-4">{{ news.title }}</h1>
                    <h6>Created On: {{ news.publishedAt.substring(0, 10) | date}} // Category: {{ news.source.id }}</h6>
                    <span class="text-muted">{{ (news.content ? news.content : news.description) | truncate }}</span>
                    <button class="btn btn-info" (click)="passParams(news)">Continue Reading</button>
                </div>
            </div>
        </div>
    </ng-container>
    
</div>