.main-content {
    padding-top: 2%;
    overflow-y: scroll !important;
    height: 76vh;
}

.display-4 {
    font-size: 2rem !important;
}

img {
    width: 250px;
    height: auto;
    object-fit: cover;
}

#content {
    margin: 1% auto;
    padding: 1%;
    transition: .5s ease-in-out;
}

#content:hover {
    transform: scale(1.03);

}

button {
    display: block !important;
    margin-top: 12px;
    transition: .25s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.w-35 {
    width: 35% !important;
}


@media only screen and (max-width: 766px) {
    #content {
        margin: 5% auto;
        width: 85%;
        padding: 2em;
    }
}