.display-4 {
    font-size: 1.8rem;
}

.error-404 {
    text-align: center;
    transform: translateY(50%);
}

.btn-error {
    background-color: #07d79b;
    color: white;
    text-transform: uppercase;
}

