/**************************
* Responsive
*/
@media only screen and (max-width: 900px) {

    .no-display {
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }

    .right-subscribe {
        width: 75%;
        top: auto !important;
        position: relative;
        right: auto !important;
        margin: 0 auto;
        padding: 30px;  
        text-align: center;
        white-space: nowrap;
    }

    .right-subscribe input {
       word-wrap: break-word;
    }

    .right-subscribe button {
        height: 38.8px;
        word-wrap: break-word;
    }

    .header {
        margin: 0 auto;
        text-align: center;
        padding-top: 5%;
    }

    .modal {
        width: 100%;
        height: 100%;
    }

    .modal-inside {
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute !important;
        overflow: auto;
        animation: none;
        transform: translateY(0%);
    }

    .content {
        background: rgb(39, 56, 82, 0.02);
        border-bottom: none;
        box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.08);
        border-left: 2.5px solid rgb(43, 39, 83);
        padding: 5%;
        width: 80%;
    }

    .content:hover {
        border-left: 2.5px solid rgb(43, 39, 83);
    }

    .content-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .content tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content-title {
        width: 100%;
        font-size: 1.3em;
        margin: 10% auto 5% auto; 
        text-align: center; 
    }

    .content-button {
        width: 100%;
        height: 40px;
        padding: 0;
    }

    .right-panel {
        float: none;
        margin: 5% auto;
        position: relative;
        right: auto;
        top: auto;
        text-align: center;
        width: 80% !important;
    }

    .right-panel h5 {
        margin-top: 2% !important;
    }

    .right-panel * {
        text-align: center;
    }

    .right-panel-btn {
        padding: 9.6px;
    }
}

@media only screen and (max-width: 1550px) {
    .right-subscribe {
        white-space: nowrap;
    }

    .right-subscribe button {
        overflow: hidden;
     }
    
}

