<div class="bg-light p-4 utilities">
    <div class="row justify-content-between text-center">
        <!-- Dropdown -->
        <div class="dropdown col-md-2 margin-bottom">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdown-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Source
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown-list">
                <span class="dropdown-item" *ngFor="let sourceName of sourceList" (click)="change(sourceName)">{{ sourceName }}</span>
            </div>
        </div>

        <!-- Filter -->
        <div class="input-group col-md-2 w-50 ml-auto mr-auto margin-bottom">
            <input type="text" class="form-control" placeholder="Type Your Text..." aria-label="filter-input" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-info" type="button" (click)="filterNewsCards($event)">Filter</button>
            </div>
        </div>

        <!-- Add Article -->
        <div class="col-md-2 margin-bottom">
            <button routerLink="/add-article" class="btn btn-info" type="button" (click)="source.sourceName='Create News'">Add Article</button>
        </div>
    </div>
    
</div>