<div class="container" id="error">
  <div class="row flex-wrap">
    <div class="col-md-4">
      <img
        src="../../assets/error404.png"
        alt="Page Not Found"
        title="Page Not Found"
      />
    </div>

    <div class="col-md-8 flex-column">
      <div class="text-uppercase display-3">
        Error 404
      </div>

      <div class="h3">
        Whoops, there ‘re nothing to be found here. Sorry !
      </div>

      <div class="">
        <button class="btn btn-danger btn">Back to News</button>
      </div>
    </div>
  </div>
</div>
